@import "helpers/fonts";
@import "helpers/mixins";
@import "components/404page";
@import "components/header";
@import "components/navigation";
@import "components/calendar";
@import "components/contacts";
@import "components/todolist";
@import "components/modal";
@import "components/login";
@import "components/reminder";
@import "components/mainmenu";
@import "components/datepicker";


* {
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    background: #ffe;
}

// .back {
//     background: url("../../images/pictos.svg") center center;
//     background-size: contain;
//     opacity: .3;
//     width: 100%;
//     height: 100%;
//     z-index: 1;

// }

body.no-overflow {
    overflow-y: hidden;
}

li {
  list-style: none;
}

.container-fluid { 
    padding: 0 !important;
}

.row {
  margin: 0 !important;
}

.col-xs, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-offset-0, .col-xs-offset-1, .col-xs-offset-2, .col-xs-offset-3, .col-xs-offset-4, .col-xs-offset-5, .col-xs-offset-6, .col-xs-offset-7, .col-xs-offset-8, .col-xs-offset-9, .col-xs-offset-10, .col-xs-offset-11, .col-xs-offset-12 {
  padding: 0 !important;
  transition: 1s ease;
}

::-webkit-scrollbar {
    width: 9px;
}
 
::-webkit-scrollbar-track {
    background:#eee;
    border: thin solid lightgray;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1) inset;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 7px; 
    background:#999;
    border: thin solid gray;
}

.error {
    border: 1px solid red!important;
    &:focus {
        // outline: 1px red!important;
        border: 1px solid red;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px red;
        

    }
}