.calendar {
    min-height: 500px;
}

.rbc-btn-group > button {
    &:first-child {
        content: "Back";
    }
    &:nth-child(2) {
        content: "Today";
    }
    &:last-child {
        content: "Next";
    }
}