.rc-intro {
  background-color: #222;
  padding: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.rc-img {
  max-width: 50px;
}

.rc-title {
  font-size: 5rem;
  margin-top: 3rem;
  color: #fff;
  font-family: 'Open Sans';
  font-weight: 700;
  letter-spacing: -2px;
}

.rc-description {
  margin-top: 2rem;
  font-size: 2rem;
  color: #ccc;
}

.add-btn {
  float: left;
}

.tool-btn {
  float: right;
}

.con-list {
  max-width: 100%;
  max-height: 500px;
  min-height: 300px;
  padding: 7px;
  -webkit-box-shadow: 0px 0px 8px 3px #ddd;
  -moz-box-shadow: 0px 0px 8px 3px #ddd;
  box-shadow: 0px 0px 8px 3px #ddd;
  overflow-y: scroll;
  margin-left: 8px;
  // margin-right: 20px;
}

.con-act {
  margin-left: 65px;
}

.con-searchbar {
  width: 550px;
}