.container-slider {
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  color: #333;
  background: #000;

  .slick-prev {
      left: 0;
      z-index: 1;
  }
  .slick-next {
      right: 0;
  }

  .slick-dots {
      bottom: 20px;
      opacity: 1 !important;
      li {
          width: 15px;
          button {
              width: 15px;
              height: 15px;
              border: 2px solid #efcc47;
              @include border-radius(50px);
              opacity: 1;

              &:before {
                  content: '';
              }
          }
      }
      .slick-active {
          button {
              &:before {
                  background: #efcc47;
                  width: 15px;
                  height: 15px;
                  opacity: 1;
                  @include border-radius(50px);
              }
          }
      }

   }
}